# Pandas Exercises

In [ ]:
import pandas as pd

path = "diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [123]:
data = pd.read_csv(path, names=names)
print("Data Loaded Successfully!")

Data Loaded Successfully!

Print out the age and class of the 100th patient

In [124]:
print("Age and Class of 100th patient:")
data.loc[99, ['age', 'class']]

Age and Class of 100th patient:

age      31.0
class     1.0
Name: 99, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [125]:
no_diabetes = (data['class'] == 0).sum()
print("People without Diabetes:", no_diabetes)

People without Diabetes: 500

Write code to figure out how many people are classified as having diabetes, class is 1

In [126]:
has_diabetes = (data['class'] == 1).sum()
print("People with Diabetes:", has_diabetes)

People with Diabetes: 268

What percent of people have diabetes in the study

In [127]:
percent_diabetes = (has_diabetes / len(data)) * 100
print("Percent with Diabetes:", percent_diabetes)

Percent with Diabetes: 34.89583333333333

Print out the `"pres"` and `"class"` (no other columns) for the first 5 people

In [128]:
print(data.loc[0:4, ['pres', 'class']])

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [129]:
data.corr()

,preg,plas,pres,skin,test,mass,pedi,age,class
preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
plas,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
pres,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
test,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
mass,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
pedi,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
class,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

What column has the highest correlation with class? Find the mean() value of that column

In [130]:
correlations = data.corr()
corr_with_class = correlations['class'].drop('class')

highest_corr_col = corr_with_class.abs().idxmax()
print("Column Most Correlated with Class:", highest_corr_col)

mean_high_corr = data[highest_corr_col].mean()
print("Mean Value of that Column:", mean_high_corr)

Column Most Correlated with Class: plas
Mean Value of that Column: 120.89453125

Create a new dataframe with only people that are above the mean found in the above cell.

In [131]:
mean_values = data.mean()
df_above_all_means = data[(data > mean_values).all(axis=1)]

print("People Above Average for All Columns:")
print(df_above_all_means)

People Above Average for All Columns:
     preg  plas  pres  skin  test  mass   pedi  age  class
43      9   171   110    24   240  45.4  0.721   54      1
152     9   156    86    28   155  34.3  1.189   42      1
159    17   163    72    41   114  40.9  0.817   47      1
175     8   179    72    42   130  32.7  0.719   36      1
206     8   196    76    29   280  37.5  0.605   57      1
215    12   151    70    40   271  41.8  0.742   38      1
236     7   181    84    21   192  35.9  0.586   51      1
259    11   155    76    28   150  33.3  1.353   51      1
375    12   140    82    43   325  39.2  0.528   58      1
424     8   151    78    32   210  42.9  0.516   36      1
458    10   148    84    48   237  37.6  1.001   51      1
546     5   187    76    27   207  43.6  1.034   53      1
603     7   150    78    29   126  35.2  0.692   54      1
612     7   168    88    42   321  38.2  0.787   40      1
614    11   138    74    26   144  36.1  0.557   50      1
663     9   145    80    46   130  37.9  0.637   40      1

Create a new dataframe that only includes people who are above the average value for each column in the dataset. In other words, find the average value for each column, and then find which users have values above all of these average column values.

In [132]:
mean_values = data.mean()
df_above_all_means = data[(data > mean_values).all(axis=1)]
print("People Above Average for All Columns:")
print(df_above_all_means)

People Above Average for All Columns:
     preg  plas  pres  skin  test  mass   pedi  age  class
43      9   171   110    24   240  45.4  0.721   54      1
152     9   156    86    28   155  34.3  1.189   42      1
159    17   163    72    41   114  40.9  0.817   47      1
175     8   179    72    42   130  32.7  0.719   36      1
206     8   196    76    29   280  37.5  0.605   57      1
215    12   151    70    40   271  41.8  0.742   38      1
236     7   181    84    21   192  35.9  0.586   51      1
259    11   155    76    28   150  33.3  1.353   51      1
375    12   140    82    43   325  39.2  0.528   58      1
424     8   151    78    32   210  42.9  0.516   36      1
458    10   148    84    48   237  37.6  1.001   51      1
546     5   187    76    27   207  43.6  1.034   53      1
603     7   150    78    29   126  35.2  0.692   54      1
612     7   168    88    42   321  38.2  0.787   40      1
614    11   138    74    26   144  36.1  0.557   50      1
663     9   145    80    46   130  37.9  0.637   40      1

*Note: the next 3 problems were not explicitly shown in our tutorial—being able to effectively google and look through documentation is a very important coding tool!* ¯\\\_(ツ)_/¯

Ignoring the index (resetting the index to 0) and using the dataframe from the cell above, sort the values based on `"skin"`, `"test"`, and `"pedi"` values in ascending order. Please write this in one line.

In [133]:
sorted_df = df_above_all_means.reset_index(drop=True)
sorted_df = sorted_df.sort_values(by=['skin', 'test', 'pedi'], ascending=True)

print("Sorted DataFrame:")
print(sorted_df.head())

Sorted DataFrame:
    preg  plas  pres  skin  test  mass   pedi  age  class
6      7   181    84    21   192  35.9  0.586   51      1
0      9   171   110    24   240  45.4  0.721   54      1
14    11   138    74    26   144  36.1  0.557   50      1
11     5   187    76    27   207  43.6  1.034   53      1
7     11   155    76    28   150  33.3  1.353   51      1

Now let's find the 4 largest values for `"age"`

In [134]:
top4_age = data.nlargest(4, 'age')
print("4 Largest Ages:")
print(top4_age[['age']])

4 Largest Ages:
     age
459   81
453   72
666   70
123   69

Now find the smallest 4 values for `"pedi"` and `"plas"` in reverse order (smallest to largest).

In [135]:
smallest_pedi = data.nsmallest(4, 'pedi')[['pedi']]
smallest_plas = data.nsmallest(4, 'plas')[['plas']]

print("Smallest 4 Values for Pedi:")
print(smallest_pedi)

print("\nSmallest 4 Calues for Plas:")
print(smallest_plas)

Smallest 4 Values for Pedi:
      pedi
268  0.078
180  0.084
149  0.085
567  0.085

Smallest 4 Calues for Plas:
     plas
75      0
182     0
342     0
349     0

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f3d2e979-42f4-4fa4-a66a-116a1c2662d5' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>